footer{

    z-index: 10;
    width: 100%;
    background-color: #000000;
    height: 100px;
    bottom: 0px;
    object-fit: cover;
    box-sizing: border-box;
    display: flex;
}
footer img{
    width: 100px;
    height: 100px;
}
footer linkbox{
    display: flex;


}
footer linkbox div{
    width: 200px;

}
footer linkbox div a{
    line-height: 100px;
    text-align: center;
    color: #f3f3f3;

}