ProductsSlot{

    top: 200px;
    width: 100%;

}
ProductsSlot .product-wrapper{
    display: block;


    float: left;
    transition: .2s;
}
@media  only screen and (min-width: 450px) {
    .product-wrapper{
        width: 50%;
    }
    .product{
        height: 500px;
    }
}
@media  only screen and (min-width: 768px) {
    .product-wrapper{
        width: 33.33%;
    }
    .product{
        height: 500px;
    }
}
@media  only screen and (min-width: 1000px) {
    .product-wrapper{
        width: 25%;
    }
    .product{
        height: 500px;
    }
}
.product{
    display: block;
    border: 1px solid #000000;
    border-radius: 30px;
    position: relative;
    background: #ffffff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #000000;
    z-index: 0;


}
.product .imageBox{
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;

}
.product img{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}
.product .short{
    position: relative;
    margin: 5px;
    text-align: center;
    font-size: 1em;
    line-height: 1.4em;
    height: 5.6em;
    overflow: hidden;
}
.product .short:after{
   content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8em;
    height: 1.6em;
    background: linear-gradient(to left top, #fff, rgba(255,255,255,0));
}
.product .name{
    position: relative;
    margin: 10px;
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    overflow: hidden;
}
.product .price{
    margin: 10px;
    text-align: center;
    font-size: 2em;
    line-height: 1.4em;
    overflow: hidden;
    background: #adf5af;
    border: 1px solid #000000;
    border-radius: 30px;
}
