.searchBlock{
    display: block;

}
.searchBox{
    width: 80%;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter{
    width: 60px;
    height: 100%;
    border: 1px solid #000000;
}
.search{
    width: 1080px;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 0px;
}
.searchButton{
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
}

