<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="css\Header.css" rel="stylesheet" type="text/css">
    <link href="css\Footer.css" rel="stylesheet" type="text/css">
    <link href="css\Product.css" rel="stylesheet" type="text/css">
    <link href="css\search.css" rel="stylesheet" type="text/css">
    <link href="css\Filter.css" rel="stylesheet" type="text/css">
    <link href="css\test.css" rel="stylesheet" type="text/css">
    <link href="css\Lock.css" rel="stylesheet" type="text/css">
    <link href="js\test.js" rel="stylesheet" type="text/xml">
    <script src="js\drag.js"></script>
    <script src="js\vue.js"></script>
</head>
<body>
<header id="header"><div v-for="button in buttons":id="button.id"><image :src="button.img"></image>{{button.name}}</div></header>
<telo id="telo" style="z-index: -1; position: absolute; top: 200px; display: block;width: 100%;background-color: #ffffff;left: 0px">
    <div class="searchBlock" style="width: 100%;height: 150px">
        <div class="searchBox">
            <div class="filter"></div>
            <div class="search"></div>
            <div class="searchButton"></div>
        </div>
    </div>
    <div style="width: 100%;height: 100%;display: flex">
        <div id="filterBox" class="filterBlock" style="width: 20%;height: 100%">
            <div class="filterBox">
                <div class="filterSlot" v-for="filter in filters">
                    <div class="filterTag">
                        {{filter.tag}}
                    </div>
                    <input class="filterInput">
                </div>
            </div>
        </div>
        <div style="width: 80%;height: 100%">
            <ProductsSlot>
    <product-wrapper class="product-wrapper" v-for="product in products":id="product.id">
        <product class="product"><p class="price"></p>
            <div class="imageBox">
            <img :src="product.img"></div>
            <p class="name">{{product.name}}</p>
            <div class="price">{{product.price}}P</div> <p class="short">{{product.shortDescription}}</p>
            <p class="price"></p>
        </product>
    </product-wrapper>
</ProductsSlot>
        </div>
    </div>
    <footer id="footer"><linkbox v-for="image in links"><img :src="image.img"/><div><a>{{image.link}}</a></div></linkbox></footer>
</telo>


<!--<p><div class="loader"></div></p>-->


<script>
    var headerButtons =new Vue(
        {
            el:'#header',
            data:{
                buttons:
                    [
                        {id:'logo',name:'',img:'css/DaR.png'},
                        {id:'info',name:'О нас',img:''},
                        {id:'shop',name:'Ремонт и Покупка',img:''},
                        {id:'account',name:'Имя пользователя',img:''}
                    ]
            }

        }
    )
    var Footer =new Vue(
        {
            el:'#footer',
            data:{
                links:[
                    {img:'css/mail.png',link:'MailMyAccaunt'},
                    {img:'css/tt.png',link:'TwiterMyAccaunt'},
                    {img:'css/tg.png',link:'TgMyAccaunt'}
                ]
            }
        }
    )
    var telo = new Vue(
        {
            el:'#telo',
            data:{
                products:[
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ZZZ XXX CCC VVV BBB ',link:''},
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB',link:''},
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB',link:''},
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB',link:''},
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB',link:''},
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB',link:''},
                    {id:'1',img:'css/tt.png',name:'Samsung',price:10000,shortDescription:'ZZZ XXX CCC VVV BBB',link:''},
                ],
                filters:[
                    {class:"input",tag:'Марка',variants:['aaa','bbb','ccc']},
                    {tag:'Размер',variants:['aaa','bbb','ccc']},
                    {tag:'Цвет',variants:['aaa','bbb','ccc']}
                ]
            }
        }
    )
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })
    var filters = new Vue({
        el: '#filterBlock',
        data:{
            filters:[
                {tag:'AAA',variants:['aaa','bbb','ccc']},
                {tag:'BBB',variants:['aaa','bbb','ccc']},
                {tag:'CCC',variants:['aaa','bbb','ccc']}
            ]
        }
    })
</script>
</body>
</html>